<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="model">
	<!-- mybatis核心配置文件darabaseConfig.xml映射到SQLMapper.xml 这个SQL映射文件 -->
	<!-- select id是一个别名，执行层调用该名或者到对应的sql --><!-- resultType表示把结果映射到LoginCase这个bean类里面 -->
	<!--获取登录接口case -->
	<select id="select_ibicycling" parameterType="Integer"
		resultType="model.bicyclingbean">
		SELECT * FROM api2_test
		where
		id=#{id};
	</select>
		<select id="select_count" parameterType="Integer"
		resultType="Integer">
		SELECT count(*) FROM api2_test;
	</select>
    <update id="update1" parameterType="model.bicyclingbean">
        UPDATE api2_test set isSuccess = "是"
        WHERE
        (id = #{id});
    </update>
        <update id="update0" parameterType="model.bicyclingbean">
        UPDATE api2_test set isSuccess = "否"
        WHERE
        (id = #{id});
    </update>
</mapper>
